{{#if full}}
<p class="notes">Set the default settings when terrain is created on this scene</p>
<div class="form-group">
    <label>{{localize "SimpleTerrain.opacity.name"}}</label>
    <div class="form-fields">
        <input type="range" dtype="Number" min="0" max="1.0" step="0.1"  value="{{rangeOpacity}}">
        <input type="text" class="range-value" style="flex: 0 1 48px;" name="flags.simple-terrain.opacity" placeholder="{{defaults.opacity}}" value="{{data.opacity}}">
    </div>
</div>
{{/if}}
<div class="form-group">
    <label for="multiple">{{localize "SimpleTerrain.Cost"}}</label>
    <input type="number" name="flags.simple-terrain.multiple" step="any" placeholder="{{defaults.multiple}}" value="{{data.multiple}}" style="flex: 0 0 80px; text-align: right;">
</div>
<div class="form-group">
    <label for="elevation">{{localize "SimpleTerrain.TerrainElevation"}}</label>
    <input type="number" name="flags.simple-terrain.elevation" step="any" placeholder="{{defaults.elevation}}" value="{{data.elevation}}" style="flex: 0 0 80px; text-align: right;">
</div>
<div class="form-group">
    <label for="depth">{{localize "SimpleTerrain.TerrainDepth"}}</label>
    <input type="number" name="flags.simple-terrain.depth" step="any" placeholder="{{defaults.depth}}" value="{{data.depth}}" style="flex: 0 0 80px; text-align: right;">
</div>
<div class="form-group">
    <label for="environment">{{localize "SimpleTerrain.Environment"}}</label>
    <div class="form-fields">
        <select name="flags.simple-terrain.environment" data-dtype="String">
            <option value=""></option>
            <optgroup label="{{localize "SimpleTerrain.Environment"}}" data-type="environment">
                {{ selectOptions environments selected=data.environment }}
            </optgroup>
            <optgroup label="{{localize "SimpleTerrain.Obstacle"}}" data-type="obstacle">
                {{ selectOptions obstacles selected=data.environment }}
            </optgroup>
        </select>
    </div>
</div>
{{#if useObstacles}}
<div class="form-group">
    <label for="obstacle">{{localize "SimpleTerrain.Obstacle"}}</label>
    <div class="form-fields">
        <select name="flags.simple-terrain.obstacle" data-dtype="String">
            {{ selectOptions obstacles selected=data.obstacle blank=' ' nameValue="name" nameValue="name" }}
        </select>
    </div>
</div>
{{/if}}
{{#if full}}
<div class="form-group">
    <label for="flags.simple-terrain.drawcolor">{{localize "SimpleTerrain.TerrainColor"}}</label>
    <div class="form-fields">
        {{ colorPicker name="flags.simple-terrain.drawcolor" value=data.drawcolor}}
    </div>
</div>
{{/if}}
